---
# Copyright 2017-present Open Networking Foundation
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

apiVersion: apps/v1beta2
kind: Deployment
metadata:
  name: {{ template "mininet.fullname" . }}
  labels:
    app: {{ template "mininet.name" . }}
    chart: {{ template "mininet.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ template "mininet.name" . }}
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ template "mininet.name" . }}
        release: {{ .Release.Name }}
      annotations:
        cni: {{ template "mininet.cni" . }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.global.registry }}{{ .Values.images.mininet.repository }}:{{ tpl .Values.images.mininet.tag . }}"
          imagePullPolicy: {{ .Values.images.mininet.pullPolicy }}
{{- if gt ($.Values.mnStratumSwitchCount|int) 0 }}
          command: ["python"]
{{- end }}
          args: [{{ .Values.topoScript }}]
          stdin: true
          tty: true
          securityContext:
            privileged: true
          volumeMounts:
          - name: "topo-config"
            mountPath: "/toposcripts"
          resources:
{{ toYaml .Values.resources | indent 12 }}
      volumes:
        - name: "topo-config"
          configMap:
            name: "{{ .Release.Name }}-configmap"
            defaultMode: 0755
    {{- with .Values.nodeSelector }}
      nodeSelector:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.affinity }}
      affinity:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
{{ toYaml . | indent 8 }}
    {{- end }}
