# local chart repo
chart_repo

# lockfiles for requirements.yaml for dependent charts
requirements.lock

# child repos (defined in the repo manifest)
macro/*
helm-repo-tools/*

# ignore dependent chart dirs
charts
